* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 77, 1);
}

#container {
    margin: 0 auto;
    width: 85%;
    height: 90%;
    background-color: #3e3d3d;
    box-shadow: 0px 10px 15px rgb(24, 24, 24);



}

#header {
    margin: 0 auto;
    width: 70%;
    /*border: 1px solid black;*/


}

#nav {

    display: flex;
    /*border: 1px solid black;*/
    margin-left: 16.5%;


}

.titulo-bnt {
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #3e3d3d
}

.sep {}

#sep-esq {
    margin-left: 1%;
}

.bnt {
    text-align: center;
    margin: 0 auto;

}

#bnt-home {
    background-color: white;
    width: 20%;
    height: 15%;
    margin-left: 0%;
    margin-top: 2%;
    cursor: pointer;

    :hover {
        background-color: rgb(159, 158, 158);
    }

}

#bnt-sobre {
    background-color: white;
    width: 10%;
    height: 10%;
    margin-left: 0.5%;
    margin-top: 2%;
    cursor: pointer;
}

#bnt-galeria {
    background-color: white;
    width: 10%;
    height: 10%;
    margin-left: 0.5%;
    margin-top: 2%;
    cursor: pointer;
}

#bnt-agenda {
    background-color: white;
    width: 10%;
    height: 10%;
    margin-left: 0.5%;
    margin-top: 2%;
    cursor: pointer;
}

#bnt-contato {
    background-color: white;
    width: 10%;
    height: 10%;
    margin-left: 0.5%;
    margin-top: 2%;
    cursor: pointer;
}

#sep-dir {
    margin-left: 1%;
    margin-right: 19%;
}

#main {
    /*border: 1px solid black;*/
    text-align: center;

}

#home {}

#sobre {}

#galeria {}

#agenda {}

#contato {}