* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    /*background-image: linear-gradient(to bottom, rgb(0, 55, 0), rgb(2, 14, 0));*/
    background-color: rgb(0, 42, 0); 
}

@font-face {
    font-family:malrboro ;
    src: url(/src/MARLBORO.TTF);
}


#container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background-color: #3e3d3d;
    box-shadow: 0px 10px 15px rgb(24, 24, 24);
    border-radius: 5px;
}

/* CABEÇALHO*/

#header {
    margin: 0 auto;    
    width: 1800px;   
    /*border: 1px solid black;*/
}

/*NAVEGADOR*/
#nav {
    display: flex;
    margin: 0 auto;
    width: 1200px;    
    display: flex;
    /*border: 1px solid blue; */
    
   
}

/*TITULO DOS BOTOES*/
.titulo-bnt {
    font-family:'marlboro';
    color: #3e3d3d;
    font-size:30px ;
    margin-top: 2px;
      
    
    
}

/*IMAGEM SEPARADORES*/
.sep {
    /*border: 1px solid red;*/
}

#sep-esq {
    margin-left: 0px;

}

#sep-dir {
    margin-left: 15px;
}

/*CARACTERISTICAS DOS BOTOES*/
.bnt {
    background-color: white;
    width: 150px;
    height: 35px;
    text-align: center; 
    border-radius: 2px;
    cursor: pointer; 
    box-shadow: 0px 2px 6px rgb(24, 24, 24);
    :hover {        
        background-color: rgb(226, 226, 226);
    }   
}

/*BOTOES*/
#bnt-home {        
    margin-left: 0%;
    margin-top: 2%; 
}

#bnt-sobre {
    margin-left: 0.5%;
    margin-top: 2%;
}

#bnt-galeria {    
    margin-left: 0.5%;
    margin-top: 2%;
    
   
}

#bnt-agenda {    
    margin-left: 0.5%;
    margin-top: 2%; 
}

#bnt-contato {    
    margin-left: 0.5%;
    margin-top: 2%;    
    
}

/*CENTRO*/

#main {   
    /*border: 1px solid black;*/
    text-align:center;
    

}

/*CARACTERISTAS DOS CONTEUDOS*/
.conteudo{    
    background-image: url("/img/EmConstrucao.png");
    font-family: 'marlboro';    
    margin: 0 auto;
    width: 1250PX;
    height: 700PX;
    border-radius: 10px;
    box-shadow: 3px 5px 10px black;
    /*border: 1px solid black;*/
    font-size: 300%;   
    color: white;
    text-shadow: 2px 3px 5px black;
    
}

.cont-p{
    margin-left: -50%;
    
}

/*CONTEUDOS*/

#home {      
  
}

#sobre {}

#galeria {}

#agenda {}

#contato {}

#logo-cont{
    width: 500px;
    
}

/*RODAPÉ*/

#footer{
    
}

    /*LOGO DA BANDA*/

/*CARACTERISTICAS DO LOGO */
#logo{
    width: 200px;
    margin-top: -0.5%;
    margin-left: 90.5%;
    -webkit-filter: drop-shadow(0px 0px 4px rgb(36, 36, 36) );
    opacity: 0.5;
    
}

/*LOGO*/
#img-trinca{
    width: 700px;

}

/* IMAGEM DE CARTAS NO FUNDO*/
#trinca{
    position: absolute;
    margin-left: -165px;
    margin-top: 450px;
    transform: rotate(50deg) ;
    opacity: 0.6;
}

